*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: shabnam;
    font-size: 14px;
}
@font-face{
    src: url('./assets/fonts/Shabnam-FD.ttf');
    font-family: shabnam;
}