*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: shabnam;
    font-size: 14px;
}
@font-face{
    src: url('./assets/fonts/Shabnam-FD.ttf');
    font-family: shabnam;
}
body{
    background: #f5f5f5 !important;
}
.comment{
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}